
{% extends "base.html.twig" %}

{% block head %}

{% endblock %}

{% block main_part %}
    <body>
        <div>TODO write content</div>
    </body>
{% endblock %}

{% block footer %}

{% endblock %}
