{% extends "base.html.twig" %}

{% block head %}
<div class="col-xs-12 text-center">
    <h1><span class="fa fa-wrench"></span> En cours <span class="fa fa-wrench fa-flip-horizontal" </h1>
</div>
{% endblock %}

{% block main_part %}
{% endblock %}

{% block footer %}
<footer>
    <div class="col-xs-12 text-center">
        <a class="btn btn-default col-sm-6 col-sm-offset-3 col-xs-12" href="{{ site_url('Accueil') }}" >Accueil</a>
    </div>
</footer>
{% endblock %}