
{% block head %}
    <header>
        <div class="col-xs-12 text-center">
            <h1>Contact</h1> 
        </div>
    </header>
{% endblock %}
{% block main_part %}
    <div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center" >
            <h1><span class="glyphicon glyphicon-check" ></span></h1> 
            <h1>Votre message a bien été envoyé</h1>
        </div>
    </div>
    <footer>
        <a href="{{ site_url('Accueil') }}" class="btn btn-default" >Accueil</a>
    </footer>
{% endblock %}