/* 
    Created on : 27 janv. 2015, 17:46:49
    Author     : Azarias
*/

footer{
    border-top: 1px solid white;
}

header{
    border-bottom: 1px solid white;
    background-color: red;
    height: 20vh;
}