/* 
    Created on : 20 sept. 2015, 18:54:22
    Author     : root
*/

body{
    background-color: #cccccc;
}

table{
    height: 80vh;
}

#informations{
    color: #333333;
    overflow-y: auto;
    max-height: 100%;
}

#confirm_text{
    color: #333333;
    font-size: 1.3em;
    font-family: sans-serif;
}

.main-message {
    position: absolute;
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.main-message.success {
    border-left-color: #2ecc71;
}
.main-message.error {
    border-left-color: #e74c3c;
}