/* 
    Created on : 20 sept. 2015, 18:54:22
    Author     : root
*/

body{
    background-color: #A9BFBB;
}

#panel,.panel_container{
    height: 80vh;
    padding-right : 0px;
}

.footer{
    margin-top: 20px;
}

#informations,#jsContainer{
    //Box-shadow
    -moz-box-shadow: inset 0px 0px 40px 15px #BAC7BD;
    -webkit-box-shadow: inset 0px 0px 40px 15px #BAC7BD;
    -o-box-shadow: inset 0px 0px 40px 15px #BAC7BD;
    box-shadow: inset 0px 0px 40px 15px #BAC7BD;

    padding: 15px;
    position: relative;
    background-color: #E2FFFA;
    color: #333333;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    border-radius: 1%;
}

div.information {
    position : absolute;
    width: 100%;
    left: 100%;
    height : 0;
    padding : 0 20px 0 17px;
    opacity : 0;
    transition : all 200ms ease-in-out;
}

div.information.appear {
    opacity: 1;
    left: 0;
}

#confirm_text{
    color: #333333;
    font-size: 1.3em;
    font-family: sans-serif;
}

.main-message {
    z-index: 999;
    position: absolute;
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.main-message.success {
    border-left-color: #2ecc71;
}
.main-message.error {
    border-left-color: #e74c3c;
}

#search_form{
    margin-bottom: 5px;
}