{% extends "base.html.twig" %}

{% block body_definition %}
    <body ng-app="chess" ng-controller="Explications as xp"  >
    {% endblock %}
    {% block head %}
        <header>
            <div class="col-xs-4">
                <a href="{{ site_url('Accueil') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" ></span> Accueil </a>
            </div>
            <div class="col-xs-4 text-center">
                <h1>Jeux d'échecs</h1>
            </div>
            <div class="col-xs-4 text-right" >
                <button ng-click="" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Explications</button>
            </div>
        </header>
    {% endblock %}
    {% block main_part %}
        <div id='board'></div>

    {% endblock %}
    {% block footer %}
        <div class="row text-center" >
            <h3>Au tour des : <strong id="currentColor" >Blanc</strong>  </h3>
        </div>
    {% endblock %}